body{
    background-color: aliceblue;
}

.container{
    background-color: white;
    padding-bottom: 40px;
}

.card-content{
    overflow: hidden;
}

.table{
    margin: auto;
}

.radio-form-out{
    margin-left: 2px;
}

.simplificar-btn{
    position: fixed;
    display: block;

    bottom: 20px;
    right: 10%;

    z-index: 2;
}

td{
    text-align: center !important;
    vertical-align: middle !important;
}

.section{
    text-align: center;
}

#mintermin-latex{
    overflow-x: auto;
    overflow-y: hidden;
}